<h2>User Account</h2>

<p>User ID: &nbsp;{{user.uid}}</p>
<br/>
<form name="myForm">

  <div class="control-group">
    <label>First Name</label>
    <input type="text" name="first_name" required />
  </div>
  
  <div class="control-group">
    <label>Email</label>
    <input type="text" name="email" required />
  </div>

  <br>
  <a href="/users" class="btn">Cancel</a>
  <button class="btn btn-primary">Save</button>

</form>
